 /* .h1-class
{
    color: red;
}
.h2-class{color: red;
}
.h3-class{
    color: red;
}
h6{color: red;
} */

#box
{
    background-color: rgb(2, 160, 68);
    color: black;
}

.mark
{
    color: rgb(42, 146, 98);
    background-color: rgb(114, 41, 77);
    border: 2px solid rgb(61, 54, 54);
    margin: 5px;
    text-align: center;
    opacity: 20px;
    font-size: 50px;
    
}

.button
{
    background-color:rgb(38, 94, 38) ;
    font-size: 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    /* color: blueviolet; */
}
.button::after
{
    overflow: hidden;
    display: block;
    height: 4px;
    width: 100%;
    background-color: blueviolet;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.button:hover::after{
    transform: scale(1);
}

.hed
{ text-align: center;
    text-decoration: underline;
}
.para
   {
    text-align: left;
    color: #dc143c;
    font-weight: bold;
    font-family: cursive;    
}

.divv-1
{
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* *{
    color: aliceblue

} */
.navbar1
{
    height: 60px;
    background-color: black;
}
.abc1
{
    font-size: 25px;
    color: #f08810;   
}
/* button{
    color: #f08810;
} */
/* a{
    margin-right: 200px;
    text-decoration: none;
    } */
.img1
{
    color: #f08810;
    font-size: 70px;
    text-align: center;
    background-image: url('imggg.jpg');
    font-size: 170px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.contentbox
{
    width: 100px;
    height: 100px;
    background-color: #dc143c;
    border: 2px black solid;
    display: inline-block;
}
#con
{
    height: 500px;
}
/* .IMG2
{
    font-size: 70px;
    text-align: center;
    text-decoration: underline black;
    background-image: url('imggg.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} */
.color1
{
    width: 700px;
    height: 500px;
    /* background: 
    linear-gradient(red,blueviolet); */
    background-image: url('imggg.jpg');
    background-repeat: no-repeat;
    image-rendering: cover;
}
.box1
{
    height: 100px;
    width: 100px;
    background-color: #dc143c;
    display: flex;
    justify-content: center;
}
.box2
{
    height: 50px;
    width: 50px;
    background-color: black ;
}
.anchor
{
    font-size: 25px;
    color: #f08810;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.divvv
{   
    height: 100px;
    background-color: rgb(27, 25, 25);

}
.f1
{
    position: sticky;
    /* left: 40px; */
    background-color: #f08810;
    color: #181717;
    height: 150px;
    width: 150px;
}

 
