 /* .container
{
    
    display: flex;
    height: 300px;
    width: 100px;
    background-color: rgb(27, 26, 27);
    border: 4px solid yellow;
    align-content:space-evenly;
}
 .div1
{
    
    height: 90px;
    width: 50px;
    background-color: rgb(213, 159, 159);
    border: 2px solid black;
    flex-grow: 0.5;
    align-content: flex-end;

}
.div2
{

    height: 90px;
    width: 50px;
    background-color: rgb(152, 63, 63);
    border: 2px solid black;
    margin-left: 20px;
}
.div3
{
    
    height: 90px;
    width: 50px;
    background-color: rgb(168, 15, 15);
    border: 2px solid black;
}.div4
{
   
    height: 90px;
    width: 50px;
    background-color: rgb(40, 144, 29);
    border: 2px solid black;
 } */
 .ccc
 {
    overflow: hidden;
    height: 300px;
    width: 300px;
   border-radius: 50%;
   /* background-color: aquamarine; */
   background: linear-gradient(red blue pink);
 }
 .c1
 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-image: url(imggg.jpg); */
    object-position: center;
    object-fit: cover;
    /* background-size: 200px; */
    /* height: 100px; */
    /* padding: 10px; */
 }
 .p1
 {
    /* position: absolute; */
    /* top: 0; */
    font-size: 100px;
    text-align: center;
    background-image: url(imggg.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

 }
 .container
 {
    height: 100px;
    /* width: 800px; */
    background-color: black;
    /* width: fit-content; */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* justify-content: space-evenly; */
 }
 .navbar
 {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: none;
    /* flex-direction: row;
    align-items: flex-start;
    align-content: space-between; */
}
a{text-decoration: none;
    color: rgb(191, 119, 119);

}
.par
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(133, 110, 110)
}
.child
{
    
    height: 150px;
    width: 150px;
    background-color: palevioletred;
    align-self: flex-start
    ;
}
::-webkit-scrollbar
{
    width: 10px;
    aspect-ratio: 1;
}
::-webkit-scrollbar-track
{
    background: grey;
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
  /* div{
    position: relative;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: aqua;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
    font-size: 25px;
    transform: scale(1);
} 
@media (min-width: 300px) and (max-width: 400px) {
div {
    background-color: red;
}
} 
@media (min-width: 400px) and (max-width: 700px) {
    div {
        background-color: rgb(89, 182, 23);
    }
    }

@media (min-width: 700px) {
    div{
        background-color: blueviolet;
    }
}   */
/* div:hover
{
    background-color: black;
}
div:active
{
    background-color: brown;
}   */
/* div{
    position: relative;
    top: 200px;
    left: 200px;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 105, 10); 
    transform: rotate(0deg);    
    transition-property: all;
    animation-name: colorChange;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 5;
    animation-name: hoverChange;
     animation-duration: 2s;
     animation: slide;
     animation-iteration-count: 5;
     transition-delay: 2s;
} */
/* @keyframes hoverChange {
    from{
         left: 0px;
     }
    to{left: 200px; }
 }
@keyframes colorChange {
    from{background-color:  rgb(207, 105, 10); }
    to {background-color: rgb(95, 71, 71);}
}
button{
    color: rgb(29, 17, 117);
    background-color: rgb(18, 120, 18);
    position: relative;
    top: 100px;
    align-items: center;
    height: 40px;
    width: 180px;

}
button:hover
{
    color: rgb(215, 213, 211);
    background-color: rgb(27, 22, 22);
     transition-duration: 2s; 
}

button:active
{
    background-color: gray;
} */
/* div{
    position: relative;
    top: 200px;
    left: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* transform: scale(0.5); */
    /* background-color: #00ffff; */
    /* animation-name: colorSlide1; */
    /* animation-duration:2s; */
    /* animation-direction: reverse;     */
    /* animation-timing-function: ease-in;   */
    /* animation-delay: 1s; */
    /* animation-iteration-count: infinite; */
/* }  */

/* @keyframes colorSlide1 {
    from{left: 0px;}
    to{left: 200px;}
    0%{background-color:  #00ffff }
    25% {background-color: rgb(95, 71, 71);}
    50%{background-color: black;}
    75%{background-color: #af7d3f;}
    100%{background-color: pink;}

} */


.text-color{
    background-image: url(imggg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    height: 500px;
    width: 600px;
   font-size: 100px; 
}

